.projectsTitle{
    text-align: center;
    font-family: var(--bold);
    color: var(--orange);
}
.d-block{
    margin-left: auto;
    margin-right: auto;
    width: 95%;
    border-radius: 5px;
}
.carousel-title, .carousel-description{
    color: var(--orange)
}
.carousel-description{
    text-align: center;
    padding-left: 15px;
    padding-right: 15px;
}
.links{
    margin: 15px;
}
.desktop{
    display: block;
}
.mobile-only{
    display: none;
}
@media (max-width: 480px) {
    .desktop{
        display: none;
    }
    .mobile-only{
        display: flex;
        justify-content: center;
    }
    .links{
        font-size: 16px;
    }
}
