footer{
  position: fixed;
  left: 0;
  bottom: 0;
  width: 100%;
  background-color: var(--mainColor);
  color: var(--pink);
  text-align: center;
  z-index: 1;
}
.footer-content{
    font-size: 25px;
    font-family: var(--bold);
}

@media (max-width: 480px) {
  .footer-content{
    font-size: 16px;
  }
  }


