.certs{
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
}
.cert{
   width: 49%;
   margin: 5px;
   border-radius: 15px; 
}
.certs-title{
    text-align: center;
    color: var(--orange);
    margin-top: 15px;
    margin-bottom: 15px;
    font-family: var(--bold);
}
@media screen and (max-width: 480px) {
  .cert{
      width: 90%;
  }
}