.nav-links, .resumelink{
  color: var(--orange);
  margin-left: 44px;
  margin-right: 44px;
  font-size: 31px;
  font-weight: 700;
  font-family: var(--bold);
}
.resumelink{
  text-decoration: none;
}
.nav-links:hover{
  color: var(--pink);
}
.resumelink:hover{
  color: var(--pink);
}
.toggle-container{
  display: flex;
  flex-direction: row;
}
.navbar-toggle-icon{
  display: block;
  color: var(--pink);
  transform: rotate(-90deg);
  letter-spacing: 2px;
}
.toggle-title{
  color: var(--pink);
  margin-left: 15px;
}
.modal-title{
  color: var(--orange);
  font-family: var(--bold);
}
.modal-body{
  background-image: linear-gradient(to bottom right, var(--mainColor), var(--pink));
}
.modal-button{
  background-color: var(--mainColor);
  color: var(--pink);
}
.links{
  text-decoration: none;
  font-size: 25px;
  color: var(--orange);
  font-family: var(--bold);
}
.links:hover{
  color: var(--pink);
}
.links-list{
  list-style: none;
}
.icon{
  height: 25px;
  padding-right: 7px;
}
@media (max-width: 480px) {
  .nav-links, .resumelink{
    font-size: 20px;
  }
  .toggle-title{
    font-family: var(--bold);
    font-size: 22px;
    letter-spacing: 1px;
  }
  }

